<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mars Scrape</title>
        
        <!-- <link rel="stylesheet" href="static/reset.css"> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css" integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <div class='first_fact'>
                    <h1>
                        <strong>Latest Mars News</strong>
                    </h1>
                    <p class='title'>
                        <strong>{{mars_jinja.Title}}</strong>
                    </p>
                    <p class='paragraph'>
                        {{mars_jinja.Paragraph}}
                    </p>
                </div>

            </div>

        </div>
        <div class='row'>
            <div class='col-md-8'>
                <div class='second_fact'>
                    <h1>
                        <strong>
                            Mars Featured Image
                        </strong>
                    </h1>
                    <img src="{{mars_jinja.Image}}" alt="Mars featured image">
                </div>

            </div>
            
        </div>

    </div>
    <div class='container-fluid'>
        <div class='jumbotron text-center'>
            <h1>
                <strong>Mars Hemispheres</strong>
            </h1>
            <hr>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <div class="mars_image">
                    <img src="{{mars_jinja.mars_Hemispheres[1]['image_url']}}" alt="First_image" width="600px" height="600px">
                    <h2>{{mars_jinja.mars_Hemispheres[1]['title']}}</h2>
                </div>
                <div class="mars_image">
                    <img src="{{mars_jinja.mars_Hemispheres[1]['image_url']}}" alt="Second_image" width="600px" height="600px">
                    <h2>{{mars_jinja.mars_Hemispheres[1]['title']}}</h2>
                </div>
            </div>
            <div class='col-md-6'>
                <div class="mars_image">
                    <img src="{{mars_jinja.mars_Hemispheres[2]['image_url']}}" alt="Third_image" width="600px" height="600px">
                    <h2>{{mars_jinja.mars_Hemispheres[2]['title']}}</h2>
                </div>
                <div class="mars_image">
                    <img src="{{mars_jinja.mars_Hemispheres[3]['image_url']}}" alt="Fourth_image" width="600px" height="600px">
                    <h2>{{mars_jinja.mars_Hemispheres[3]['title']}}</h2>
                </div>
            </div>

        </div>

    </div>
</body>

</html>